@font-face {
    font-family: "Raleway", sans-serif;
    src: url(../fonts/woff2/Raleway-Thin.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-ExtraLight.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-Light.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-Regular.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-Medium.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-SemiBold.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-Bold.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-ExtraBold.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-Black.woff2) format("woff2"),
         url(../fonts/woff/Raleway-Thin.woff) format("woff"),
         url(../fonts/woff/Raleway-ExtraLight.woff) format("woff"),
         url(../fonts/woff/Raleway-Light.woff) format("woff"),
         url(../fonts/woff/Raleway-Regular.woff) format("woff"),
         url(../fonts/woff/Raleway-Medium.woff) format("woff"),
         url(../fonts/woff/Raleway-SemiBold.woff) format("woff"),
         url(../fonts/woff/Raleway-Bold.woff) format("woff"),
         url(../fonts/woff/Raleway-ExtraBold.woff) format("woff"),
         url(../fonts/woff/Raleway-Black.woff) format("woff"),
         url(../fonts/variable/woff2/Raleway-VF.woff2) format("woff2"),
         url(../fonts/variable/woff/Raleway-VF.woff) format("woff");
}

@font-face {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    src: url(../fonts/woff2/Raleway-ThinItalic.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-ExtraLightItalic.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-LightItalic.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-Italic.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-MediumItalic.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-SemiBoldItalic.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-BoldItalic.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-ExtraBoldItalic.woff2) format("woff2"),
         url(../fonts/woff2/Raleway-BlackItalic.woff2) format("woff2"),
         url(../fonts/woff/Raleway-ThinItalic.woff) format("woff"),
         url(../fonts/woff/Raleway-ExtraLightItalic.woff) format("woff"),
         url(../fonts/woff/Raleway-LightItalic.woff) format("woff"),
         url(../fonts/woff/Raleway-Italic.woff) format("woff"),
         url(../fonts/woff/Raleway-MediumItalic.woff) format("woff"),
         url(../fonts/woff/Raleway-SemiBoldItalic.woff) format("woff"),
         url(../fonts/woff/Raleway-BoldItalic.woff) format("woff"),
         url(../fonts/woff/Raleway-ExtraBoldItalic.woff) format("woff"),
         url(../fonts/woff/Raleway-BlackItalic.woff) format("woff"),
         url(../fonts/variable/woff2/Raleway-Italic-VF.woff2) format("woff2"),
         url(../fonts/variable/woff/Raleway-Italic-VF.woff) format("woff");
}