/* Necessary Styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.typeTester {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}
.styleArea {
    resize: none;
    width: 90vw;
    font-size: 4.5rem;
    text-align: center;
    line-height: 1.15;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    overflow: hidden;
}
.styleArea:focus {
    outline: none;
}

/* Customizable Styling */
.styleFamily {
    border: none;
    text-indent: none;
    font-size: 1rem;
    outline: none;
    color: #111111;
    border-radius: 0.5rem;
    padding: .375rem;
    cursor: pointer;
}

input[type="range"] {
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    color: #111111;
}

.fontSize > p, .letterTracking > p, .lineLeading > p {
    font-family: sans-serif;
    font-size: 1rem;
}
